.XXX {
    width: 216px;
    height: 432px; /*144px;*/
    border: 1px solid red;
    overflow: hidden;
    float: left
}

.X {
    font-size: 70px;
    width: 100%;
    text-align: center;
    height: 144px;

    background-repeat: no-repeat;
    background-position: 0 0px;
}



.a{
    background-image: url('../assets/symbolA.png');
}
.b{
    background-image: url('../assets/symbolB.png');
}
.c{
    background-image: url('../assets/symbolC.png');
}
.d{
    background-image: url('../assets/symbolD.png');
}
.e{
    background-image: url('../assets/symbolE.png');
}